/* Apply CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style for the container */
  .file-handler-container {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the container */
    margin-top: 30px;
    padding: 20px;
    background-color: #CAF4FF;
  }
  
  /* Style for the file input */
  .file-input {
    margin-bottom: 20px;
  }
  
  /* Style for the file layout */
  .file-layout {
    text-align: center;
  }
  
  /* Style for the file content */
  .file-content {
    max-height: 300px; /* Limit height for smaller screens */
    overflow-y: auto; /* Enable vertical scroll for overflow */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Style for highlighted content */
  .highlight {
    background-color: yellow; /* or any color that stands out */
  }
  

  /* Style for the details section */
.details {
    text-align: center; /* Center align text */
    margin-top: 20px; /* Add some space between file content and details */
    
  }
  
  /* Style for the heading inside details */
  .details h3 {
    font-family: 'Arial', sans-serif; /* Set font family */
    color: #333; /* Set text color */
    margin-bottom: 10px; /* Add space below heading */
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .details {
      padding: 0 20px; /* Add padding on smaller screens */
    }
  }
  
